.Modal{
    width: 100vw;
    height: 100vh;
    overflow:auto;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Modal-content{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: #c3c6ce;
    

}
.Modal-title{
    margin: 0;
}
.Modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.Modal-button2{
    border-radius: 15px;
    background-color: red;
    color: #fff;
    font-size: x-large;
    border: none;
}
