htm1,body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #f5f5f5;
}
*:not(head){
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}


.gap{
  gap: 12px;
}
.center{
  justify-content: center;
  align-items: center;
}
.left{
  justify-content: left;
  align-items:flex-start;
}
.right{
  justify-content: right;
  align-items: flex-end;
}
.fill-vertical{
  flex: 1;
  height: 100%;
}
.full-width {
  width: 100%;
}

.third-width {
  width: 33%;
}
.one-fourth-width{
  width: 25%;
}

.margin-auto {
  margin: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  flex-direction: column;
}



